@charset "UTF-8";
/* COLORES*/
/*FUENTES*/
.btn-primary, .btn-secondary {
  border-radius: 20px;
  padding: 10px 20px;
  border: none;
  color: #222;
}

body h1 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #222;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  color: #f9f9f9;
  background-color: #222;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}
body p {
  margin: 0px;
  color: rgba(238, 255, 0, 0.8823529412);
}
body h1 {
  font-size: 100px;
  margin: 0;
}
body h3 {
  font-family: "Bebas Neue", sans-serif;
}
body a {
  text-decoration: none;
  color: #222;
}
body a:hover {
  text-decoration: underline;
}

.seccion-general {
  background-color: rgba(107, 106, 106, 0.541);
  border-radius: 30px;
  height: 90vh;
  width: 95%;
  box-shadow: 0 0 30px 5px rgba(60, 66, 2, 0.342);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 50px;
}

.seccion-general-dia {
  padding: 30px;
  height: 90%;
}

.form-floating {
  width: 80%;
}

.form-control {
  border-radius: 20px;
}

.form-control:focus {
  border-color: rgba(238, 255, 0, 0.8823529412);
  box-shadow: 0 0 5px rgba(192, 235, 4, 0.377);
}

.btn-primary {
  background-color: rgba(238, 255, 0, 0.8823529412);
  --bs-btn-hover-color: #222;
  --bs-btn-hover-bg: #99a30dec;
  --bs-btn-active-color: #222;
  --bs-btn-active-bg: #99a30dec;
  --bs-btn-active-border-color: #99a30dec;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #f9f9f9;
  --bs-btn-disabled-bg: #99a30dec;
  --bs-btn-disabled-border-color: #99a30dec;
}

.btn-secondary {
  --bs-btn-hover-color: #222;
  background-color: rgba(238, 255, 0, 0.8823529412);
}

.p-oscuro {
  color: #222;
}

.form-floating > .form-control,
.form-floating > .form-control-plaintext,
.form-floating > .form-select {
  height: calc(3.5rem + var(--bs-border-width) * 2);
  min-height: calc(3rem + var(--bs-border-width) * 2);
}

.sin-subrayar:hover {
  text-decoration: none;
}

.h2-encabezados {
  color: #222;
  font-size: 2rem;
}

.a-tabla {
  width: 100%;
}

.btn-volver {
  width: 40%;
}

.fa-magnifying-glass {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  color: #494E5F;
}

.lista-seleccionable {
  width: 40%;
}

.toggle-password-btn {
  position: absolute;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  color: #494E5F;
}

.table {
  width: 100%;
  table-layout: fixed;
  text-align: center;
  height: 100%;
}
.table th,
.table td {
  word-wrap: break-word;
  padding: 10px;
  vertical-align: middle;
  align-items: center;
}
.table thead th {
  background-color: rgba(238, 255, 0, 0.8823529412);
  color: #222;
}
.table tbody tr {
  background-color: #f9f9f9;
  color: #222;
}

/*ANIMACIONES*/
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.carousel-caption h5,
.carousel-caption p {
  animation: slideUp 0.8s ease;
}

.imagen-modal {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 15px;
  margin-bottom: 20px;
}

.contenedor-grid {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 0.5fr 4fr 0.5fr;
  gap: 0px;
  grid-template-areas: "header" "main" "footer";
}

.item1 {
  grid-area: header;
  background-color: #222;
}

.contenido-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 100%;
}
.contenido-header .logo {
  font-size: 50px;
  color: rgba(238, 255, 0, 0.8823529412);
}

.navbar {
  padding: 20px 0;
}
.navbar .navbar-toggler {
  color: #f9f9f9;
}
.navbar .navbar-toggler:focus {
  box-shadow: none;
}
.navbar .nav-link-hover:hover {
  color: rgba(238, 255, 0, 0.8823529412);
}
.navbar .nav-link:focus {
  color: rgba(238, 255, 0, 0.8823529412);
}
.navbar .navbar-nav {
  margin-left: auto;
}

.encabezado-agregar {
  position: relative;
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.encabezado-agregar div {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.encabezado-agregar input {
  height: 50%;
}

.filtros-de-busqueda {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.filtros-de-busqueda input {
  height: 10%;
}
.filtros-de-busqueda .buscar-ejercicio-container {
  position: relative;
  width: 40%;
}
.filtros-de-busqueda .buscar-ejercicio-container input {
  width: 100%;
}
.filtros-de-busqueda .buscar-ejercicio-container .input-filtros {
  text-align: start;
}

.seccion-general-dia .encabezado-agregar {
  position: relative;
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.seccion-general-dia .encabezado-agregar div {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.seccion-general-dia .encabezado-agregar input {
  height: 50%;
}
.seccion-general-dia .container-dia {
  width: 100%;
  height: 90%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  border-radius: 15px;
  margin-bottom: 10px;
}
.seccion-general-dia .container-dia .filtros-de-busqueda {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
}
.seccion-general-dia .container-dia .scroll-container-dia {
  margin-bottom: 10px;
  align-items: center;
  padding: 0px;
}

.duracion-rutina {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.duracion-rutina input {
  width: 40%;
}

.botones {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.h1-dias {
  font-size: 50px;
}

.container-dia {
  width: 100%;
  height: 90%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  border-radius: 15px;
  margin-bottom: 10px;
}

.scroll-container-dia {
  margin-bottom: 10px;
  align-items: center;
  padding: 0px;
}

.scroll-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding: 50px;
}
.scroll-container .row {
  margin-top: 20px;
}
.scroll-container .card {
  height: 100%;
  justify-content: center;
  padding: 20px;
  border-radius: 15px;
}

.item2 {
  grid-area: main;
}

.hero-inicio {
  /* REUTILIZADO EN INICIO DE SESION*/
  height: 100vh;
  width: 100%;
  background-image: url("./multimedia/imagenHero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.columna-hero {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 50%;
}

.h2-hero {
  color: #222;
}

.fila-botones-registro {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.navbar .nav-link {
  color: #f9f9f9;
}

.seccion-general-inicio-sesion {
  align-items: center;
}
.seccion-general-inicio-sesion .formulario-inicio-sesion {
  width: 95%;
  height: 50%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.seccion-general-inicio-sesion .formulario-inicio-sesion .fila-botones-inicio-sesion {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.encabezado-modificar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 90%;
}
.encabezado-modificar .input-nombre-rutina {
  width: 40%;
}
.encabezado-modificar .boton-encabezado {
  width: 40%;
  text-align: end;
}

.container-dias {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  overflow-y: scroll;
}
.container-dias .container-dia-especifico {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
}

.formulario-registro {
  width: 80%;
  height: 60%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
}
.formulario-registro .fila-botones-registro {
  width: 80%;
  display: flex;
}
.formulario-registro .fila-botones-registro .columna-botones-registro {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.seccion-general-rutinas {
  align-items: center;
}
.seccion-general-rutinas .carousel {
  width: 100%;
  height: 90%;
}
.seccion-general-rutinas .carousel .carousel-inner {
  height: 100%;
  border-radius: 20px;
}
.seccion-general-rutinas .carousel .carousel-inner .carousel-item {
  height: 100%;
}
.seccion-general-rutinas .carousel .carousel-inner .carousel-item .carousel-caption {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: rgba(34, 34, 34, 0.2666666667);
}
.seccion-general-rutinas .carousel .carousel-inner .carousel-item .carousel-caption p {
  font-size: 1.25rem;
  /* Texto más grande */
  font-family: "Montserrat", sans-serif;
}
.seccion-general-rutinas .carousel .carousel-inner .carousel-item .carousel-caption h5 {
  font-size: 2.5rem;
  /* Título grande */
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.seccion-general-rutinas .carousel .carousel-inner .carousel-item .a-rutinas {
  text-decoration: none;
  color: #f9f9f9;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.seccion-general-rutinas .carousel .carousel-inner .carousel-item .a-rutinas:hover {
  text-decoration: none;
}
.seccion-general-rutinas .carousel .carousel-inner .carousel-item-1 {
  background-image: url("./multimedia/crossfit.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.seccion-general-rutinas .carousel .carousel-inner .carousel-item-2 {
  background-image: url("./multimedia/victor-freitas-hOuJYX2K5DA-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.seccion-general-rutinas .carousel .carousel-inner .carousel-item-3 {
  background-image: url("./multimedia/soga.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.seccion-general-rutinas .boton-crear-rutina {
  margin-top: 10px;
  width: 60%;
  text-align: center;
}

.item3 {
  grid-area: footer;
  background-color: #222;
  display: flex;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.item3 footer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.item3 footer .columna-uno-footer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 0;
}
.item3 footer .columna-dos-footer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Media query para tabletas */
@media (max-width: 1024px) {
  /*GENERALES*/
  label {
    font-size: 0.8rem;
  }
  a {
    font-size: 1rem;
  }
  p {
    font-size: 0.8rem;
  }
  /*INICIO*/
  .columna-hero {
    width: 80%;
    align-items: center;
    text-align: center;
  }
  .seccion-general {
    align-items: center;
  }
  /* INICIO DE SESION */
  .fila-botones-inicio-sesion {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }
  /* REGISTRO */
  .fila-botones-registro {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 40%;
    text-align: center;
  }
  /*RUTINAS*/
  .carousel-caption h5 {
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
  }
  .carousel-caption p {
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
  }
  /* TABLAS */
  .table th,
  .table td {
    font-size: 0.7rem;
  }
  .fa-magnifying-glass {
    font-size: 0.7rem;
  }
  /* AGREGAR EJERCICIO */
  .encabezado-agregar h1 {
    font-size: 2rem;
  }
  .encabezado-agregar {
    margin-bottom: 10px;
  }
  .input-filtros {
    font-size: 0.8rem;
  }
  .card-title {
    font-size: 0.8rem;
  }
  .form-control {
    font-size: 0.8rem;
  }
}
/*MEDIA QUERY PARA CELULARES*/
@media (max-width: 600px) {
  /* GENERALES */
  label {
    font-size: 0.6rem;
  }
  a {
    font-size: 0.7rem;
  }
  p {
    font-size: 0.6rem;
  }
  .form-floating > .form-control,
  .form-floating > .form-control-plaintext,
  .form-floating > .form-select {
    height: calc(2rem + var(--bs-border-width) * 2);
  }
  /* AGREGAR EJERCICIO */
  .encabezado-agregar div {
    width: 100%;
  }
  .encabezado-agregar {
    margin-bottom: 10px;
    flex-direction: column;
  }
  .input-filtros {
    font-size: 0.7rem;
  }
  .card-title {
    font-size: 0.8rem;
  }
  .form-control {
    font-size: 0.8rem;
  }
  .boton-ver {
    font-size: 0.5rem;
  }
  .btn {
    font-size: 0.7rem;
  }
}
@keyframes fadeSlideUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.hero-inicio .seccion-general {
  animation: fadeSlideUp 1s ease-out;
}

/*ANIMACIONES*/
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.carousel-caption h5, .carousel-caption p {
  animation: slideUp 0.8s ease;
}

.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.btn-primary {
  background-color: rgba(238, 255, 0, 0.8823529412);
  border-radius: 20px;
  padding: 10px 20px;
  border: none;
  color: #222;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hover: agrandar y brillo */
.btn-primary:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(238, 255, 0, 0.6);
}

/* Click: hundirse */
.btn-primary:active {
  transform: scale(0.95);
  box-shadow: 0 0 5px rgba(238, 255, 0, 0.8);
}

.btn-secondary {
  background-color: rgba(238, 255, 0, 0.8823529412);
  border-radius: 20px;
  padding: 10px 20px;
  border: none;
  color: #222;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hover: agrandar y brillo */
.btn-secondary:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(238, 255, 0, 0.6);
}

/* Click: hundirse */
.btn-secondary:active {
  transform: scale(0.95);
  box-shadow: 0 0 5px rgba(238, 255, 0, 0.8);
}

/*# sourceMappingURL=estilos.css.map */
