@use '../variables.scss';
@use '../mixin.scss';
@use '../extend.scss';

/* Media query para tabletas */

@media (max-width: 1024px) {

    /*GENERALES*/
    label {
        font-size: 0.8rem;
    }

    a {
        font-size: 1rem;
    }

    p {
        font-size: 0.8rem;
    }

    /*INICIO*/

    .columna-hero {
        width: 80%;
        align-items: center;
        text-align: center;
    }

    .seccion-general {
        align-items: center;
        border-radius: 0;
        height: 100%;
        width: 100%;
    }

    /* INICIO DE SESION */
    .fila-botones-inicio-sesion {
        width: 90%;
        height: auto;
        @include mixin.flex-center(column, space-around, center);
        text-align: center;
    }

    /*REGISTRO*/
    .formulario-registro {
        @include mixin.form-container(80%, 500px, 50%);

    }

    /*RUTINAS*/

    .carousel-caption h5 {
        font-size: 1.5rem;
        font-family: variables.$fuente-texto;
        font-weight: 700;
    }

    .carousel-caption p {
        font-size: 1rem;
        font-family: variables.$fuente-texto;
    }

    /* TABLAS */
    .table th,
    .table td {
        font-size: 0.7rem;
    }

    .fa-magnifying-glass {

        font-size: 0.7rem;

    }

    /* AGREGAR EJERCICIO */

    .encabezado-agregar h1 {
        font-size: 2rem;
    }


    .encabezado-agregar {
        margin-bottom: 10px;
    }

    .input-filtros {
        font-size: 0.8rem;
    }


    .card-title {
        font-size: 0.8rem;
    }

    .form-control {
        font-size: 0.8rem;

    }



}

/*MEDIA QUERY PARA CELULARES*/
@media (max-width: 600px) {

    /* GENERALES */
    label {
        font-size: 0.6rem;
    }

    a {
        font-size: 0.7rem;
    }

    p {
        font-size: 0.6rem;
    }

    .form-floating>.form-control,
    .form-floating>.form-control-plaintext,
    .form-floating>.form-select {
        height: calc(2rem + calc(var(--bs-border-width) * 2));
    }

    /* AGREGAR EJERCICIO */
    .encabezado-agregar div {
        width: 100%;
    }

    .encabezado-agregar {
        margin-bottom: 10px;
        flex-direction: column;
    }

    .input-filtros {
        font-size: 0.7rem;
    }


    .card-title {
        font-size: 0.8rem;
    }

    .form-control {
        font-size: 0.8rem;


    }

    .boton-ver {
        font-size: 0.5rem;
    }

    .btn {
        font-size: 0.7rem;

    }

    .table th,
    .table td {
        font-size: 0.6rem;
    }

    /* REGISTRO */

    .fila-botones-registro {
        @include mixin.flex-center(column, space-evenly, center);
        height: 40%;
        text-align: center;
    }

}