@use '../../variables.scss';
@use '../../mixin.scss';

.encabezado-agregar {
    position: relative;
    width: 100%;
    height: 10%;
    @include mixin.flex-center(row, space-between, center);

    div {
        width: 40%;
        height: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 5px;
    }

    input {
        height: 50%;
    }
}

.filtros-de-busqueda {
    @include mixin.flex-center(row, space-between, center);
    margin-bottom: 10px;

    input {
        height: 10%;

    }

    .buscar-ejercicio-container {
        position: relative;
        width: 40%;

        input {
            width: 100%;

        }

        .input-filtros {
            text-align: start;
        }
    }

}