@use '../../variables.scss';
@use '../../extend.scss';

.seccion-general-dia {
    padding: 30px;
    height: 90%;

    .h1-dias {
        font-size: 50px
    }

    .container-dia {
        width: 100%;
        height: 90%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        background-color: variables.$blanco;
        border-radius: 15px;
        margin-bottom: 10px;

        .scroll-container-dia {
            margin-bottom: 10px;
            align-items: center;
            padding: 0px;

            .table {
                width: 100%;
                table-layout: fixed;
                text-align: center;
                height: 100%;

                th,
                td {
                    word-wrap: break-word;
                    padding: 10px;
                    vertical-align: middle;
                    align-items: center;
                }

                thead {
                    th {
                        background-color: variables.$amarillo;
                        color: variables.$negro;
                    }

                }

                tbody {
                    tr {
                        background-color: variables.$blanco;
                        color: variables.$negro;
                    }
                }
            }

        }
    }


}