@use '../../variables.scss';
@use '../../mixin.scss';

.item2 {
    grid-area: main;
}

.hero-inicio {
    /* REUTILIZADO EN INICIO DE SESION*/
    height: 100vh;
    width: 100%;
    @include mixin.flex-center(row, center, center);
    background:
        linear-gradient(rgba(110, 109, 109, 0.582), rgba(250, 247, 247, 0.829) ),
        url("./multimedia/imagenFondo.jpg");
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(6px);

}



.columna-hero {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 50%;
}



.h4-hero {
    
        color: variables.$negro;
}



.fila-botones-registro {
    width: 80%;
    @include mixin.flex-center(row, space-between, flex-end);
}

.navbar .nav-link {
    color: variables.$blanco;
}