@use "../../mixin.scss";

.formulario-registro {
    @include mixin.form-container(80%, 500px, 60%);
    margin: auto;

    .fila-botones-registro {
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: end;

        .columna-botones-registro {
            display: flex;
            flex-direction: column;
            justify-content: center;

        }
    }

}