@use '../../variables.scss';
@use '../../mixin.scss';
@use '../../extend.scss';

.seccion-general-rutinas {
    align-items: center;

    .carousel {
            width: 100%;
            height: 90%;

            .carousel-inner {
                height: 100%;
                border-radius: 20px;

                .carousel-item {
                    height: 100%;

                    .carousel-caption {
                        height: 100%;
                        @include mixin.flex-center(column, flex-end, center);
                        background-color: #22222244;

                        p {
                            font-size: 1.25rem;
                            /* Texto más grande */
                            font-family: variables.$fuente-texto;
                        }

                        h5 {
                            font-size: 2.5rem;
                            /* Título grande */
                            font-family: variables.$fuente-texto;
                            font-weight: 700;
                        }
                    }

                    .a-rutinas {

                        text-decoration: none;
                        color: variables.$blanco;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: end;

                    }

                    .a-rutinas:hover {
                        text-decoration: none;
                    }
                }

                $imagenes-carousel: (
                    1: "imagen1rutinas.jpg",
                    2: "imagen2rutinas.jpg",
                    3: "imagen3rutinas.jpg"
                );

            @each $num, $imagen in $imagenes-carousel {
                .carousel-item-#{$num} {
                    @include mixin.background-cover("./multimedia/#{$imagen}");
                }
            }

        }
    }

    .boton-crear-rutina {
        margin-top: 10px;
        width: 60%;
        text-align: center;
    }


}